
/* Custom Pink version */


/* Override default variables
$primary-500: #e91e63;
$primary-600: #d81b60;
$primary-700: #c2185b;
    */
/* Import Pico*/
@import "@picocss/pico/scss/pico";

form{
    display: flex;
    margin-left: 200px;

}
.left-section{
    margin-right: 5%;
}
.container{
display: flex;
flex-direction: column;
}

img{
    width:100%;
}

.grid{
    margin-left: 10%;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 78%;
    margin-bottom: 1%;
}

hgroup{
    margin-top: 10%;
}
h1{
    text-align: center;
    width: 100%;
}

hgroup{
    text-align: center;
}

h2{
    font-size: 2rem;
}

h3{
    text-align: center;
}

.home-links{
    text-align: center;
    margin-bottom: 5%;
}
.home-links a{
    margin-right: 3%;
}



@media screen  and (max-width:990px) {
    img{
        display: none;
    }
}

/*
#kl-front-logo{
    position: absolute;
    width: 30%;
    left:-10%;
    top: 81% ;
}


span{
    margin-top: 300%;
}
*/
